body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("../assets/wallpaperVolei.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.scoreboard {
  display: flex;
  width: 80%;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.team {
  flex: 1;
  text-align: center;
  padding: 20px;
  position: relative;
  border-radius: 20px;
}

.team.blue {
  background: linear-gradient(135deg, #007bff, #004085);
}

.team.red {
  background: linear-gradient(135deg, #dc3545, #6a000f);
}

.points {
  font-size: 8rem;
  font-weight: bold;
}

.sets {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 2rem;
  font-weight: bold;
  opacity: 0.9;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.blue button {
  background: #ffffffaa;
  color: #004085;
}

.red button {
  background: #ffffffaa;
  color: #6a000f;
}

button:hover {
  opacity: 0.8;
}

/* Navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  background-color: rgba(255, 255, 255, 0.92);
  color: #2980b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-radius: 12px;
  margin: 15px auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  z-index: 1000;
}

.navbar-left {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}

.navbar-right a {
  color: #2980b9;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.25s ease-in-out;
  margin: 0 15px; /* esse dá o espaço */
}

.navbar-right a:hover {
  color: #1f5d7a;
}

.navbar-left a {
  color: inherit; /* Usa a mesma cor do texto da navbar */
  text-decoration: none; /* Remove o sublinhado */
  font-size: inherit; /* Herdar tamanho da fonte da navbar */
  font-weight: inherit; /* Herdar peso da fonte */
}

.navbar-left a:hover {
  color: #4cafef; /* Cor ao passar o mouse, igual aos outros */
}
