body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url("wallpaperVolei.jpg") no-repeat center center fixed;
  background-size: cover;
  color: #333;
}

.container {
  padding: 20px;
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.home-layout {
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.welcome-text {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  max-width: 90%;
  /*max-width: 400px;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);*/
}

h1,
h2 {
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.7);
}

.box {
  background: rgba(255, 255, 255, 0.85);
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  max-width: 90%;
}

button,
select {
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #3498db;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
}

button:hover,
select:hover {
  background-color: #2980b9;
}

input {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}

.teams-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}

.team-box {
  background: rgba(255, 255, 255, 0.85);
  padding: 15px;
  border-radius: 10px;
  min-width: 150px;
}

/* Navbar */
.navbar {
  background-color: rgba(255, 255, 255, 0.85);
  color: #2980b9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.navbar-left {
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 1px;
}

.navbar-right a {
  color: #2980b9;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navbar-right a:hover {
  color: #4cafef;
}
